body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%; /* Make it responsive */
    max-width: 400px; /* Keep a max-width */
    box-sizing: border-box; /* Include padding in the width calculation */
}

@media (max-width: 480px) {
    .login-box {
        padding: 15px; /* Adjust padding for smaller screens */
    }

    h1 {
        font-size: 28px; /* Slightly smaller font for headings */
    }
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #166fe5;
}

#error-message {
    color: red;
    margin-bottom: 15px;
}

a {
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
